* {
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    color: #222;
    background-image: url(img/4096-520842CainWheatRiceTextureWallpaper_1024x1024.jpg);

}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #222;
}



nav {
    width: 72%;
    margin: 0 12.5%;
    padding: 0.1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    width: 8%;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 20%;
}

nav li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.boton {
    display: inline-block;
    border: 1px solid #222;
    padding: 1% 2%;
    background: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;
}

.boton-oscuro {
    background: #222;
    color: #fff;
    padding: 1% 2%;
    border-radius: 5px;
}

.boton:hover {
    background: #222;
    color: #fff;
}

main {
    width: 90%;
    margin: 0 auto;
}


section {
    background-color: rgba(244, 241, 234, 0.72);
    border: 1px solid #222;
    padding: 1.5% 2%;
    margin-bottom: 2%;
    cursor: pointer;

}

.portada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.portada div {
    flex: 1;
}

.portada img {
    margin-left: 15%;
    width: 70%;
}

.portada p {
    line-height: 1.6;
    margin-bottom: 5%;
}

.cuadricula3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-top: 2%;
}

article {
    background: #fff;
    border: 1px solid #222;
    padding: 2rem;
    box-shadow: 4px 4px 0 #bbb;
}

article p {
    line-height: 1.6;
    margin: 2% 0 0 0;
}

article h3 {
    margin-top: 0;
}

.articulo-destacado {
    border: 2px solid #222;
    box-shadow: 6px 6px 0 #222;
}

.fila {
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 2% 0;
}

.filareverso {

    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 2% 0;
}

.fila div {
    flex: 1;
    padding: 0 3%;

}

.filareverso img {
    border: 1px solid #222;
}

.filareverso p {
    line-height: 1.6;
}

.filareverso div {
    flex: 1;
    padding: 0 5%;

}

.filareverso img {
    border: 1px solid #222;
}

.filareverso p {
    line-height: 1.6;
}

.caja-llamado {
    text-align: center;
    background: #fff;
    border: 1px solid #222;
    padding: 3%;
}

.caja-llamado p {
    margin-bottom: 2%;
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 5%;
}

.filtros button {
    font: inherit;
    border: 1px solid #222;
    background: #fff;
    padding: 1% 2%;
    cursor: pointer;
}

.par {
    display: flex;
    gap: 3%;
    align-items: center;
}

.par div {
    flex: 1;
}

.par p {
    line-height: 1.6;
}

.inicio-pasos div {
    display: flex;
    align-items: center;
    background-color: #F7F6F0;
    padding: 1.5%;
    gap: 2.5%;
    margin-bottom: 1.5%;
    width: 100%;
    border: none;
    border-radius: 8px;

}

.inicio-pasos img {
    width: 30%;
    border: none;
    border-radius: 4px;
}


.inicio-pasos h3 {
    margin-top: 0;
    margin-bottom: 0.5%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    color: #2C2C2C;
}

.inicio-pasos p {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    color: #595959;
    line-height: 1.6;
    font-size: 1.05rem;
}


.faq div {
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid black;
    margin-top: 2%;
    padding: 1%;

}

.faq h4 {
    font-family: 'Trebuchet MS';
}

.faq p {
    line-height: 1.6;
    font-family: Cambria;
}

.menu-soporte {
    display: flex;
    gap: 2%;
    background: #fff;
    border: 1px solid #222;
    padding: 2%;
}

.menu-soporte a {
    display: inline-block;
    border: 1px solid #222;
    padding: 1% 2%;
    background: #fff;
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.menu-soporte a:hover {
    background: #222;
    color: #fff;
}

.barra-busqueda input {
    width: 100%;
    padding: 1%;
    border: 1px solid #222;
    font-size: 1rem;
}

.seccion-manifiesto {
    background: #fff;
    border: 1px solid #222;
    padding: 3%;
    width: 70%;
    margin: 1% auto;
    line-height: 1.8;
}

.destacado {
    font-style: italic;
    font-weight: 400 !important;
    margin-top: 3%;
    padding-top: 2%;
    text-align: center;
}

.seccion-manifiesto {
    font-size: 1.125rem;
    line-height: 1.85;
    margin-bottom: 1.75%;
    font-weight: 300;
}



.seccion-garantias {
    display: flex;
    gap: 2%;
    background-color: rgba(244, 241, 234, 0.72);
    color: #222;
    padding: 2%;
}

.seccion-garantias div {
    flex: 1;
    border: 1px solid black;
    text-align: center;
}

.seccion-garantias p {
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% auto;
}

form div {
    display: flex;
    gap: 4%;
}

form label {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 3%;
    font-weight: bold;
}

form input, 
form textarea {
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    box-sizing: border-box;
}

form button {
    margin-top: 2%;
    width: 100%;
}

footer {
    background: #222;
    color: #fff;
    margin-top: 4%;
}

footer div {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

footer div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 8%;
}

footer div li {
    margin-bottom: 0.5%;
    line-height: 1.6;
}

footer div p {
    line-height: 1.6;
}